<%- include('../partials/head') %>


<body>
  <%- include('../partials/header') %>

  <h2>My Favorite Books</h2>
  <article>
    <h4>Number of Books:<%= books.length %></h4>
    <% books.forEach(book => { %>
    <div>
      <img src=<%= book.image_url %> alt="bookcover">
      <h3>Title: <%= book.title %></h3>
      <h4>Author: <%= book.author %></h4>
      <p>Description: <%= book.description %></p>
      <form action="/books/<%= book.id %>" method="get">
        <button id="edit" type="submit">View Details</button>
      </form>
    </div>
    
    <% }) %>
  </article>
</body>

</html>